:root{
    --font-color: #311E10;
    --background-color: #ECE4B7;
    --player-one-color: #D9DD92;
    --player-two-color: #EABE7C;
    --accent-color: #DD6031;
}

#body {
    font-family: sans-serif;
    background-color: var(--background-color);
    justify-content: space-around;
}

.flex-row{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

#sidebar, #round-counter, .player.flex-col, .opponent.flex-col{
    border-radius: 10px;
}

#sidebar{
    background-color: var(--accent-color);
    color: var(--font-color);
    align-self: stretch;
    flex-grow: 1;
    min-width: 25vh;
    padding: 20px;
    margin: 10px;
}

#round-counter{
    border: var(--accent-color) 2px solid;
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
    text-align: center;
    flex-grow: 1;
}

#versus-col{
    align-items: center;
    flex-grow: 1;
}

.player.flex-col, .opponent.flex-col{
    margin: 10px;
    padding: 10px;
    min-width: 35vh;
    flex-grow: 1;
}

.player.flex-col{
    background-color: var(--player-one-color);
}

.opponent.flex-col{
    background-color: var(--player-two-color);
}

.name, .score{
    font-size: larger;
    font-weight: bolder;
}

.player.name, .player.score {
    text-align: right;
}

.opponent.name, .opponent.score {
    text-align: left;
}

.move-btn{
    align-self: center;
    height: 30px;
    width: 100%;
    background-color: whitesmoke;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player > .move-btn:hover{
    border: var(--accent-color) 2px solid;
}

.no-hover:hover{
    pointer-events: none;
}

.selected-move{
    border: var(--accent-color) 2px solid;
}