:root{
    --font-color: #311E10;
    --background-color: #ECE4B7;
    --player-one-color: #D9DD92;
    --player-two-color: #EABE7C;
    --accent-color: #DD6031;
}

#body {
    background-color: var(--background-color);
}

.flex-row{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

#sidebar, #round-counter, .player.flex-col, .opponent.flex-col{
    border-radius: 10px;
}

#sidebar{
    background-color: var(--accent-color);
    color: var(--font-color);
    align-self: stretch;
    max-width: 25vh;
    padding: 20px;
    margin: 10px;
}

#round-counter{
    border: var(--accent-color) 2px solid;
}

#versus-col{
    align-items: center;
}

.player.flex-col{
    background-color: var(--player-one-color);
}

.opponent.flex-col{
    background-color: var(--player-two-color);
}

.name{
    font-size: larger;
    font-weight: bolder;
}

.player.name {
    text-align: right;
}

.opponent.name{
    text-align: left;
}